* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  background: url(../images/leaves.jpg)center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* backdrop-filter: blur(3px); */
}

#page {
  max-width: 800px;
  padding: 50px 20px;
  margin: 0 auto;
}

#search {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-type {
  display: flex;
  margin-bottom: 10px;
}

.search-tab {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0 0 3px #999;
  color: #666;
  background-color: rgba(255, 255, 255, 0.509);
  cursor: pointer;
  font-size: 18px;
}

.search-tab.active {
  color: #000;
  background-color: rgb(255, 255, 255);
}

.search-input {
  position: relative;
  width: 100%;
  max-width: 650px;
  border-radius: 20px;
}

#searchbar {
  width: 100%;  
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 3px #999;
  outline: none;
  padding-left: 15px;
  padding-right: 40px;
}

.search-input:hover {
  box-shadow: 0 0 10px  #999;
}

.icon-search {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

#websites {
  margin-top: 50px;
}

#websites>ul {
  list-style: none;
}

.panel h2 {
  color: white;
}

.panel {
  margin-top: 30px;
}

.list {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.list li {
  
  padding: 5px 10px;
  margin: 5px 8px;
  border-radius: 5px;
}

.list li:nth-child(4n+1) {
  background-color: lightblue;
}

.list li:nth-child(4n+2) {
  background-color: lightcoral;
}

.list li:nth-child(4n+3) {
  background-color: rgb(186, 238, 144);
}

.list li:nth-child(4n+4) {
  background-color: rgb(255, 197, 98);
}

